@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html * {
  box-sizing: border-box;
}

h1 {
  background-color: #424242;
  border-radius: 8px;
  color: #ddd;
  font-size: 42px;
  padding: 48px 32px;
  letter-spacing: 3px;
  text-shadow: 2px 2px 10px black;
}

.container {
  background-color: #ddd;
  font-family: 'Montserrat', sans-serif;
  margin: 32px 64px;
}

.container img {
  border-radius: 8px;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
}

.grid-item {
  background-color: white;
  border-radius: 8px;
  color: #424242;
  padding: 32px;
}

.grid-item:nth-child(1) {
  grid-row: span 2;
}

.grid-item:nth-child(6) {
  grid-column: span 3;
}
